body,
.btn,
#filter .active	{ background: #ef572e; }

#filter .active a,
.btn,
.list a 		{ color: #fff; }

.btn:hover,
.second:hover	{ background: #ccc; }

.filter a,
.list a,
#showFinished a	{ color: #323131; }

#showFinished.active a { color: #ef572e; }

.container 		{ background: #f4f4f4; }

.list			{ background: #fff; }

.btn			{ border: 2px solid #f4f4f4; }

.second			{ background: #666; color: #9f9f9f; }

#filter li		{ background: #cdcdcd; }