body,
.btn,
#filter .active
	{ background: #ef572e; }

.btn,
.list a,
#filter .active a
	{ color: #fff; }

#showFinished.active a { color: #ef572e; }

.container { background: #f4f4f4; }

.list{ background: #fff; }

.btn:hover,
.second:hover
	{ background: #ccc; }

.filter a,
.list a,
#showFinished a
	{ color: #323131; }

.btn { border: 2px solid #f4f4f4; }

.second { background: #666; }

#filter li { background: #cdcdcd; }
/*
#filter li:first-child {
	border-right: 1px solid #f4f4f4;
}

#filter li:last-child {
	border-left: 1px solid #f4f4f4;
}
*/