body,
a,
.btn 		{ color: #323131; }

#filter .active,
button,
.btn:hover	{ background: #313232; }

.container 	{ background: #f0f0f0; }

a:hover 	{ color: #ccc; }

.btn 		{ background: #dfdfdf; }
.btn:hover 	{ color: #f4f4f4; }

.second { color: #9f9f9f; }

#filter li 	{ background: #ddd; }

.active a 	{ color: #fff; }

.list 		{ background: #fff; }