body {
	color: #323131;
}

a {
	color: #323131;
}

button {
	background: #313232;
}

.btn {
  	background: #cdcdcd;
	color: #333;
  	border: 2px solid #f4f4f4;
}

.btn:hover {
	background-color: #333;
	color: #f4f4f4;
}

.container {
	background: #f4f4f4;
}

#filter li {
	background: #cdcdcd;
}

#filter a {
	text-decoration: none;
}

#filter .active {
    background-color: #000;
}

.active a {
    color: #fff;
}

.list span, .list a {
	background: #fff;
}