/*
** 	Notes
**	Layout Stylesheet only
**	Colors are in default.css or color.css
*/

	/* [1] transition: 
	** This line is global for all stylesheets,
	** color declerations are in the theme css
	*/


body {
	font-family: "Roboto", Arial, sans-serif;
	line-height: 1.5;
	font-size: 15px;
	padding: 0;
	margin: 0;
	transition: color 0.5s ease;		/* [1] */
	transition: background 0.5s ease;	/* [1] */
}

a {
	text-decoration: none;
}

h1 {
	font-size: 53px;
	font-weight: 400;
	line-height: 1;
}

ul {
	list-style: none;
}

.container {
	background: #f4f4f4;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
}

main {
	clear: both;
	overflow: hidden;
}

.theme {
	float: right;
}

select {
	height: 30px;
	background-color: #fff;
}

.btn {
  	padding: 0 30px;
  	margin-bottom: 10px;
	text-align: center;
  	display: inline-block;
  	font-size: 16px;
  	cursor: pointer;
  	font-weight: 600;
  	border: 0;
  	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

}

.second {
	color: #9f9f9f !important;
}

.filter {
	padding: 0;
	margin: 20px 0;
}

.filter li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	text-align: center;
}

#filter {
	float: left;
}

.list {
	margin: 10px 0;
	padding: 0;
	clear: both;
	overflow: hidden; /* hack for wrapping the hole text with the background-color */
}

.list ul:after {
	clear: both;
}

.list li {
	margin: 7px 0;
	width: 100%;
	float: left;
}

.list-group {
	width: 70%;
	display: block;
	float: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.list a {
	width: 20%;
	padding-top: 25px; /* same height as .description row */
	float: right;
	text-align: center;
	height: 30px; /* bigger click field for mobile users */
}

.list span {
	display: block;
	clear: both;
}

.list input {
	float: left;
	width: 8%;
	margin-left: 2%;
	padding-top: 25px;
}

.list .title {
	text-transform: uppercase;
	font-weight: 700;
}

.list .description {
	color: #bbb;
	font-weight: 300;
}

#showFinished {
	float: right;
	font-size: 26px;
	line-height: 0;
}

input, textarea {
	padding: 8px;
	margin: 8px 0;
	width: 40%;
	font-size: 16px;
}

input {
	height: 15px;
}


::-webkit-input-placeholder {
	color: #fff;
}

/* Mobile View */
@media only screen and (max-width : 768px) {

	.container {
		width: 90%;
	}

	.newnote {
		position: fixed;
		padding: 0;
		margin: 0;
		right: 24px;
		bottom: 45px;
		height: 55.5px;
		width: 55.5px;
		line-height: 56px;
		border-radius: 50%;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.16);
		z-index: 998;
	}

	.newnote span {
		display: none;
	}

	.newnote:before {
		content: "";
		top: 20px;
		left: 26px;
		position: absolute;
		height: 15px;
		width: 3px;
		background-color: #fff;
	}

	.newnote:after {
		content: "";
		top: 26px;
		left: 20px;
		position: absolute;
		height: 3px;
		width: 15px;
		background-color: #fff;
	}

	#filter {
		width: 80%;
		float: left;
	}

	#finished {
		width: 20%;
		float: right;
	}

	.filter li {
		font-size: 14px;
		padding: 7px;
	}

	#showFinished {
		float: right;
	}

	label {
		display: none;
	}

	input {
		height: 15px;
	}

	::-webkit-input-placeholder {
		color: #323131;
	}

	input, textarea {
		padding: 5px;
		margin: 3px 0;
		width: 96%;
		font-size: 16px;
	}
}
