/*
** 	Notes
**	Layout Stylesheet only
**	Colors are in default.css or color.css
*/

	/* [1] transition: 
	** This line is global for all stylesheets,
	** color declerations are in the theme css
	*/


body {
	font-family: "Roboto", Arial, sans-serif;
	line-height: 1.5;
	font-size: 15px;
	padding: 0;
	margin: 0;
	transition: color 0.5s ease;		/* [1] */
	transition: background 0.5s ease;	/* [1] */
}

a {
	text-decoration: none;
}

h1 {
	font-size: 53px;
	font-weight: 400;
	line-height: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.container {
	background: #f4f4f4;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-between;
}

#theme {
	margin-top: 25px;
}

select {
	height: 30px;
	background-color: #fff;
}

.btn {
  	padding: 0 30px;
  	margin-bottom: 10px;
	text-align: center;
  	display: inline-block;
  	font-size: 16px;
  	cursor: pointer;
  	font-weight: 600;
  	border: 0;
  	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

}

.second {
	color: #9f9f9f !important;
}

aside {
	display: flex;
	justify-content: space-between;
}

.filter {
	padding: 0;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.filter li {
	padding: 10px 30px;
	margin: 0;
	text-align: center;
}

.list {
	margin: 10px 0;
	padding: 0;
}

.list li {
	margin: 7px 0;
	padding: 10px 5px;
	display: flex;
	text-align: center;
}

.list input {
	flex-grow: 1;
}

.list-group {
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
	text-align: left;
	flex: 1;
	flex-grow: 10;
}

.list a {
	flex-grow: 1;
	padding-top: 25px; /* same height as .description row */
	height: 30px; /* bigger click field for mobile users */
}

.list span {
	display: block;
}

.list .title {
	text-transform: uppercase;
	font-weight: 700;
}

.list .description {
	color: #bbb;
	font-weight: 300;
}

#showFinished {
	font-size: 36px;
	line-height: 48px; /* same height as filter buttons */
	text-align: right;
	margin-right: 35px;
}

input, textarea {
	padding: 8px;
	margin: 8px 0;
	font-size: 16px;
}

input {
	height: 15px;
}


::-webkit-input-placeholder {
	color: #fff;
}

/* Mobile View */
@media only screen and (max-width : 768px) {

	.container {
		width: 90%;
		padding-bottom: 100px; /* required because button newnote would block/overlay edit button */
	}

	.newnote {
		position: fixed;
		padding: 0;
		margin: 0;
		right: 24px;
		bottom: 45px;
		height: 55.5px;
		width: 55.5px;
		line-height: 56px;
		border-radius: 50%;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.16);
		z-index: 998;
	}

	.newnote span {
		display: none;
	}

	.newnote:before {
		content: "";
		top: 20px;
		left: 26px;
		position: absolute;
		height: 15px;
		width: 3px;
		background-color: #fff;
	}

	.newnote:after {
		content: "";
		top: 26px;
		left: 20px;
		position: absolute;
		height: 3px;
		width: 15px;
		background-color: #fff;
	}

	#showFinished {
		margin-right: 10px;
	}

	.filter li {
		font-size: 14px;
		padding: 10px 5px;
	}

	label {
		display: none;
	}

	input {
		height: 15px;
	}

	::-webkit-input-placeholder {
		color: #323131;
	}

	input, textarea {
		padding: 5px;
		margin: 3px 0;
		font-size: 16px;
	}
}
